@charset "UTF-8"; 

@font-face {
    font-family: 'passionone'; 
    src: url('fonts/PassionOne-Bold.ttf') format(truetype);
    font-weight: normal;
}
@font-face {
    font-family: 'sriracha'; 
    src: url('fonts/Sriracha-Regular.ttf') format(truetype);
    font-weight: normal;
}

:root {
    --fonte-h1: 'passionone', cursive;
    --fonte-p: 'sriracha';
}

* {
    margin: 0px;
    font-size: 1em;
}
header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 63px;
    font-size: 18px;
}
h1 {
    font-size: 10vw;
    font-variant: small-caps;
    font-family: var(--fonte-h1);
}
header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header a:hover {
    text-decoration: underline;
}
main {
    height: 100vh;
}
p {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: var(--fonte-p);
}
section.joaninha > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.363);
    width: 600px;
}
section {
    margin-left: 0px;
    background-attachment: fixed;
    background: black url('imagens/background001.jpg') center center no-repeat fixed;
    background-size: contain
}